* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
header {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 120px;
}
.navbar .search {
  display: flex;
  align-items: center;
  gap: 8px;
  display: none;
  width: 100%;
}
.navbar .search .input {
  width: 313px;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 10px;
  background-color: rgba(248, 248, 248, 1);
  padding: 11px;
}
.navbar .search .input i {
  font-size: 22px;
  color: rgba(165, 165, 165, 1);
}
.navbar .search .input input {
  border: none;
  height: 40px;
  background-color: transparent;
  margin-left: 8px;
}
.navbar .search .input input::placeholder {
  color: rgba(165, 165, 165, 1);
}
.navbar .search button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 14px;
  background-color: rgba(70, 163, 88, 1);
}
.navbar .search button i {
  color: #fff;
  font-size: 22px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

header nav ul li a {
  color: rgba(61, 61, 61, 1);
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", serif;
  line-height: 20.11;
}
header .icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .icons i {
  font-size: 20px;
  color: rgba(61, 61, 61, 1);
}
header .icons button {
  width: 100px;
  height: 35px;
  background-color: rgba(70, 163, 88, 1);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
header .icons button i {
  color: #fff;
}
.hero {
  width: 100%;
  /* padding: 26px 120px; */
}
.hero .banner {
  display: flex;
  justify-content: space-between;
  gap: 50px;
    padding: 26px 120px;

}
.hero .banner .categories {
  width: 310px;
  height: 774px;
  padding: 14px 18px;
  background-color: rgba(251, 251, 251, 1);
}
.hero .banner .categories .item h2 {
  font-weight: 700;
  font-family: "Roboto", serif;
  color: rgba(61, 61, 61, 1);
  margin-bottom: 7px;
}
.hero .banner .categories .item .item_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 137px;
  padding: 5px 10px;
}
.hero .banner .categories .item .item_text a {
  color: rgba(61, 61, 61, 1);
}
.hero .banner .categories .item .item_text span {
  color: rgba(61, 61, 61, 1);
}
.hero .banner .categories .range {
  margin-top: 36px;
}
.hero .banner .categories .range h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 29px;
}
.hero .banner .categories .range input {
  width: 161px;
  border: none;
  background-color: rgba(70, 163, 88, 1);
}
.hero .banner .categories .range p {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}
.hero .banner .categories .range p span {
  color: rgba(70, 163, 88, 1);
  font-weight: 700;
  font-size: 15px;
}
.hero .banner .categories .range button {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: rgba(70, 163, 88, 1);
  margin-top: 16px;
  margin-bottom: 46px;
}

/* .hero .banner .box{
  width: 840px;
} */
.hero .banner .box .box_header {
  width: 840px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}
.hero .banner .box .box_header nav ul {
  display: flex;
  align-items: center;
  gap: 37px;
}
.hero .banner .box .box_header nav ul li a {
  color: rgba(61, 61, 61, 1);
}
.hero .banner .box p {
  color: rgba(61, 61, 61, 1);
}
.hero .banner .box p select {
  border: none;
  outline: none;
}


.hero .banner .box .box_cards {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 41px;
}
.hero .banner .box .box_cards .card {
  width: 212px;
  background-color: rgba(251, 251, 251, 1);
}
.hero .banner .box .box_cards h3 {
  color: rgba(61, 61, 61, 1);
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}
.hero .banner .box .box_cards span {
  color: rgba(70, 163, 88, 1);
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 500px) {
  .navbar header {
    display: none;
  }
  .navbar .search {
    width: 100%;
    display: block;
    display: flex;
    padding: 24px 41px;
    gap: 20px;
  }
  .navbar .search .input{
    width: 320px;
  }
  .hero .banner .categories {
    display: none;
  }
  /* .hero .banner .box{
    width: auto;
    flex-wrap: wrap;
  } */

  .hero .banner .box {
    padding: 0 41px;
  }
  .hero .banner .box .box_cards {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 175px);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    width: 100%;
  }
  .hero .banner{
    padding: 0;
  }
  .hero .banner .box .box_cards .card img {
    width: 100%;
  }
  .hero .banner .box .box_cards .card{
    width: 100%;
  }
  .hero .banner .box .box_header {
    width: 400px;
  }
  .hero .banner .box .box_header p {
    display: none;
  }

  .header .icons {
    display: flex;
    align-items: center;
    gap: 0;
  }

  header {
    padding: 0px;
  }
}
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  height: 80px;
  position: relative;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  height: 80px;
  position: relative;
}
.nav {
  width: 70px;
  height: 70px;
  background-color: green;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav-item {
  text-align: center;
  color: #ccc;
  font-size: 24px;
  flex: 1;
}
.nav-item.active {
  color: green;
}